body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    gap: 10px;
}

input{
    width: min(400px, 90vw);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: min(400px, 90vw);
    padding: 10px;
    border: 1px solid #ccc;
    
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 60ms ease, transform 60ms ease;
}   

button:hover{
    background-color: #16a34a;
    transform: translateY(-1px);
}